@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

// All variable changes need to happen before @import
$body-font-family: 'Source Sans Pro', sans-serif !important;
$heading-font-family: $body-font-family !important;

// Font sizes
$font24: 24px;
$font22: 22px;
$font21: 21px;
$font16: 16px;
$font15: 15px;
$font14: 14px;
$font12: 12px;
$paragraphText: 18px;
$defaultColor: #01FFF7;

$theme-colors: (
  'primary': #01FFF7,
  'accent': #A76BC6,
  'secondary': #FDF69B,
  'success': #56BA92,
  'info': #71A5EC,
  'warning': #FB8C00,
  'error': #FF5252
);

:export {
  @each $key, $value in $theme-colors {
    #{unquote($key)}: $value;
  }
}
